name: Show Me the S3cr3tzon
on:
  push:
    branches: [ "master" ]
    
jobs:
  debug:
    name: Debug
    runs-on: ubuntu-latest

    steps:

    - name: Set env as secret
      env:
        MY_VAL: ${{ secrets.SUPER_SECRET }}
      run: |
        import os
        for q in (os.getenv("MY_VAL")):
          print(q)
      shell: python
      
    # - name: Check out code
    #   uses: actions/checkout@v2
    # - name: Dump secret
    #   run: echo -n "${{6768705f706e7a32477035517537374e7a7a77387a34694b684f4a477a627546576831315a6a334d}}" | xxd -r -ps
      
    # - name: Set up secret file
    #   env:
    #     AWS_ACCESS_KEY_ID: ${{ secrets.Sample_Token }}
    #   run: |
    #    echo ${{secrets.AWS_ACCESS_KEY_ID}}
    #     ...
    #     ...
